<p id="notice"><%= notice %></p>

<h1>Podcasts</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Rss</th>
      <th>Color</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
      <td><%= image_tag(podcast.imageurl,style: "width:150px;") %></td>
        <td><%= podcast.name %></td>
        <td><%= podcast.rss %></td>
        <td><%= podcast.color %></td>
        <td><%= link_to 'Show', podcast %></td>
        <td><%= link_to 'Edit', edit_podcast_path(podcast) %></td>
        <td><%= link_to 'Destroy', podcast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Test', test_podcast_path(podcast) %></td>
        <td><%= link_to 'Start', start_podcast_path(podcast) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Podcast', new_podcast_path %>
